@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    background-image: url("../images/city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.container{
    border-top: 5px solid #107b10;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 620px;
    width: 300px;
    background-color: white;
}

.container form{
    display: flex;
    flex-direction: column
}

#btEditar{
    margin-top: 20px;
    color: white;
    background-color: #50c550;
    border: none;
    padding: 10px 80px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

#btEditar:hover{
    font-weight: bold;
    color: white;
    background-color: #008000d4;
}

#btVoltar{
    margin-top: 15px;
    color: white;
    background-color: #9c9c9c;
    border: none;
    padding: 10px 80px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

input, select{
    background-color: rgba(211, 211, 211, 0.3);
    border: none;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

h1{
    color: green;
}

input::placeholder{
    text-align: center;
    font-size: 15px;
}

