body{
    margin: 0;
    background-image: url("../images/people.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 80px;
    border-top: 5px solid #107b10;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:440px;
    width: 750px;
    background-color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btEditar{
    color: white;
    background-color: #50c550;
    border: none;
    padding: 10px 80px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

#btCadastrar:hover{
    font-weight: bold;
    background-color: #008000d4;
}

#btVoltar{
    color: white;
    background-color: #9c9c9c;
    border: none;
    padding: 10px 80px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

input{
    background-color: rgba(211, 211, 211, 0.46);
    border: none;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 600px;
}

h1{
    color: green;
}

input::placeholder{
    text-align: center;
    font-size: 15px;
}

.container div{
    margin-top: 25px;
    width: 83%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}