body{
    margin: 0;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}

#box-login{
    margin-top: 150px;
    height: 250px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#txtUsuario{
    background-color: lightgrey;
    border: none;
    padding: 10px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#txtSenha{
    background-color: lightgrey;
    border: none;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#btEntrar{
    color: white;
    background-color: #008000d4;
    border: none;
    padding: 10px 80px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

p{
    color: darkgray;
    font-weight: bold;
}

span{
    color: green;
}

h1{
    color: green;
}

a{
    text-decoration: none;
}