@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    background-image: url("../images/city2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

#box-login{
    margin-top: 150px;
    height: 260px;
    width: 450px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box-login form{
    display: flex;
    flex-direction: column;
}

#txtUsuario{
    background-color: rgba(211, 211, 211, 0.46);
    border: none;
    padding: 10px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#txtSenha{
    background-color: rgba(211, 211, 211, 0.46);
    border: none;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#btEntrar{
    color: white;
    background-color: #008000d4;
    border: none;
    padding: 10px 75px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

p{
    color: #6d6d6d;
    font-weight: bold;
}

span{
    color: green;
}

h1{
    color: darkgreen;
}

a{
    text-decoration: none;
}
