body{
    margin: 0;
}

#ocorrencias_geral{
    grid-area: ocorrencias_geral;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.cards{
    margin-top: 20px;
    margin-left: 10px;
    width: 239px;
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
}

.cards .cards-conteudo{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height: 170px;
    width: 240px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

p{
    margin: 1px 0;
}

p:nth-child(1){
    font-weight: bold;
}

p:nth-child(4){
    color: rgba(0,0,0,.54);
}

.btVer{
    margin-top: 5px;
    color: white;
    background-color: #50c550;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    width: 100px;
}

.btVer:hover{
    font-weight: bold;
    color: white;
    background-color: #3c983c;
}

span{
    color: red;
}
