@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    display: grid;
    grid-template-areas: "left right"
                         "left right";
    grid-template-rows: 100vh;
    grid-template-columns: 60vw 40vw;
}

#botoes{
    margin-top: 2%;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

/*Lado esquerdo*/

#left{
    grid-area: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topicos{
    width: 95%;
    height: 60%;
    background-color: #84848429;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-top: 5px solid #107b10;
}

#btVoltar, #btAlterar{
    padding: 10px 80px;
    border: none;
    padding: 10px 55px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#btVoltar{
    color: white;
    background-color: #9c9c9c;
}

#btVoltar:hover{
    background-color: #696868;
}

#btAlterar{
    color: white;
    background-color: #50c550;
}

#btAlterar:hover{
    background-color: #107b10;
}

p{
    font-size: 18px;
}

p:nth-child(1){
    font-weight: bold;
}

span{
    color: red;
}

/*Lado direito*/

#right{
    grid-area: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    border-left: 1px solid black;
}

img{
    height: 300px;
    border-radius: 5px;
    padding: 3px 3px;
    border: 0.5px solid black;
    box-shadow: 1px 1px black;
}

#descricao{
    width: 80%;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
}
